@use '../colors';

.footer {
    width: 100%;
    background-color: colors.$dark-gray;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid white;
        padding: 47px 0 92px;
    }
}