@use "../colors";

.header {
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 30px 40px 0;
        background: linear-gradient(to right, transparent 60%, colors.$dark-gray 60%);
    }
}
